/*对话框*/
.chatboxContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 815px;
    float: right;
}
/*访客信息*/
.assetInfo{
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content:space-around;
    border:1px solid #eeeeee;
    background-color: #F9F9F9;
    padding: 5px;
}
.chatContain{
    flex-grow: 3;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
/*聊天窗*/
.chatbox{
    flex-grow: 3;

    display: flex;
    flex-flow: column nowrap;
    padding:0 20px;
}
    .chatboxHeader{
        flex-grow: 1;
        display: flex;
        flex-flow: row;
        justify-content:space-between;
    }
        .chatLogo{
            padding-left: 50px;
            background: url("../img/webchat_mobile.png")no-repeat left;
        }
        .throughConnect{
            margin-top: 40px;
            width: 57px;
            height:24px;
            background: #F9F9F9;
            border: 1px solid #efefef;
            border-radius: 5px;
            cursor: pointer;
        }
        .chatOver{
            margin-top: 40px;
            width: 70px;
            height:24px;
            background-color: #FAAA3A;
            border: 1px solid #efefef;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
    .chatboxBody{
        display: flex;
        flex-flow: column nowrap;
        justify-content:space-around;
    }
    .chatboxSend{
        display: flex;
        flex-flow: column;
        justify-content:space-between;
        border:1px solid #38B5ED;
        height: 120px;
    }
    .inputbtn{
        display: flex;
        flex-flow: row;
        justify-content:space-between;
        flex-grow: 1;
        padding: 5px;
    }
    .sendMsg{
        flex-grow: 10;
        resize: none;
        border: none;
        outline: none;
    }
    .chatboxReceived{
        border:1px solid #38B5ED;
        flex-grow: 3;
        padding: 5px;
        height: 300px;
    }
   .chatHistoryContainer{
       width: 300px;
   }
    .chatHistory{
        background-color: #C6EDFC;
        line-height:40px;
        padding: 5px;
        border-radius: 5px;
        border: #efefef;
    }
/*右侧备注和快捷回复*/
.info{
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
    padding:20px;
    margin-top: 40px;
}
.info h3{
    border-bottom: 2px solid #efefef;
}
.comment{
    flex-grow:1;
}
.fastReply{
    flex-grow: 2;
}
